@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
 html {
     box-sizing: border-box;
}
 body {
     font-family: "Montserrat", helvetica, arial, sans-serif;
     line-height: 1.5;
     color: #27313C;
     background-color: #F3F3F3;
     padding: 0 25px;
}
a{
    text-decoration: none;
    color: inherit;
}
.flex-row,
.flex-center{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.flex-center{
    align-items: center;
}

@media (max-width: 767px){  /*iPhone*/
    body{
        padding: 0;
    }
    header.flex-row{
        flex-direction: column;
    }
    h1{
        margin: 0 0 10px;
    }
}
