.category{
    padding: 5px 10px;
}
.category.highlited,
.category:hover
{
    background-color: #e7eaec;
}
.category span{
    max-width: 176px;
    margin: 3px 0;
    word-wrap: break-word;
}
a:not(:first-child) .category{
    border-top: 1px solid #ddd;
    padding-top: 10px;
}
